a:active {
    color: blue;
}

a:visited {
    color: blue;
}

.main-title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    text-align: center;
}

main {
    width: 100%;
    margin: 100px;
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px
}

input, textarea, select, button {
    width: 250px;
}

.language-form {
    position: absolute;
    top: 10px;
    left: 10px;
}

.language-form select {
    width: 100px;
}

.register {
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
}

.inp {
    width: 100%;
    display: flex;
    justify-content: end;
}

.inp label {
    margin-right: 20px;
    text-align: right;
}

.inp .cont {
    position: relative;
    right: 0;
}

.submit {
    margin: auto;
}

@media screen and (max-width: 800px) {
    main {
        margin: auto;
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    select, input {
        width: 200px;
    }

    .register {
        font-size: 12px;
    }
}